<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ara
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 

 


 <ion-grid>
  <ion-row >
    <ion-col col-50>
      <ion-button size="large"  (click)="go()" >Pop</ion-button>
     
    </ion-col>
    <ion-col col-50>
      <ion-button   size="large"  color="danger" (click)="go1()" >rock</ion-button>
    </ion-col>
  </ion-row>

  <ion-row >
    <ion-col col-50>
      <ion-button size="large"  (click)="go2()" color="warning">indie</ion-button>
    </ion-col>
    <ion-col col-50>
      <ion-button  size="large"  (click)="go3()" color="success">jazz</ion-button>
    </ion-col>
      
  </ion-row >
  <ion-row>
    <ion-col col-50>
    
      <ion-button  size="large"  (click)="go4()" color="tertiary">hiphop</ion-button> 
    </ion-col>
    <ion-col col-50>
      <ion-button  size="large"  (click)="go5()" color="light">uyku</ion-button>
    </ion-col>
     </ion-row>

 

  

</ion-grid>

</ion-content>






